<a href="/home">Home</a>

<h1><%=@user.username%></h1>

<p><%=@album.name%></p>
<p><%=@album.release_date%></p>

<a href="/albums/<%=@album.id%>/edit">Edit Album</a>

<form action="/albums/<%=@album.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Album">
</form>