<form action='/songs/<%=@song.id%>' method="post">
  <label for="song[name]">Name:</label><br>
  <input type="text" name="song[name]"><br>

  <label for="song[genre_ids]">Add or Remove Genre(s):</label><br>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" id="<%= genre.id %>" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %><br>
  <% end %>

  <input type="hidden" name="_method" value="patch">
  <input type="submit" name="submit">

</form>

<h1><a href="/songs/<%=@song.id%>">Cancel</a></h1>