<a href="/home">Home</a>

<h1><%=@user.username%></h1>

<p><%=@song.name%></p>
<p><%=@song.release_date%></p>

<a href="/songs/<%=@song.id%>/edit">Edit Song</a>

<form action="/songs/<%=@song.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete song">
</form>