<h1>Welcome, <%=@user.username%> to Acoustic Karma</h1>
<a href="/home">Home</a>
<% @albums.each do |album| %>
    <p><a href="/albums/<%=album.id%>"><%=album.name%></a></p>
    <p><a href="/albums/<%=album.id%>"><%=album.release_date %></a></p>
    <br><br>
<%end%>
<%#=yield%>