<a href="/home">Home</a>

<h1><%=@user.username%></h1>

<p><%=@album.name%></p>
<p><%=@album.release_date%></p>

<h1>Songs:</h1>

<% @album.songs.each do |song| %>
    <p><a href="/songs/<%=song.id%>"><%=song.name%></a></p>
    <p><a href="/songs/<%=song.id%>"><%=song.release_date %></a></p>
    <br><br>
<%end%>

<p><a href="/albums/<%=@album.id%>/edit">Edit Album</a></p>

<form action="/albums/<%=@album.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Album">
</form>