<a href="/home">Home</a>

<h1><%=@user.username%></h1>

<p><%=@post.content%></p>
<p><%=@post.date_posted%></p>

<a href="/posts/<%=@post.id%>/edit">Edit Post</a>

<form action="/posts/<%=@post.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete post">
</form>